  .trang-phim {
    background-color: #000; /* Màu nền đen */
    color: white; /* Màu chữ trắng */
    min-height: 100vh; /* Đảm bảo trang chiếm toàn bộ chiều cao màn hình */
    padding: 0;
    margin: 0;
  }