.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgba(3, 3, 3, 1) 0%,
    rgba(3, 3, 3, 0.6) 52%,
    rgba(3, 3, 3, 0.3) 100%
  );
  color: white;
}

.logo {
  height: 50px;
}

.navList {
  display: flex;
  gap: 15px;
  list-style: none;
}
/* Search Bar */
.searchBar {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Khoảng cách ngay dưới chữ "Tìm kiếm" */
  background-color: #161414;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  background-color: #190909;
}

.searchButton {
  background-color: #d3d4e2;
  color: #ffffff3c;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton i {
  font-size: 16px; /* Kích thước icon */
}

.searchButton:hover {
  background-color: #3c46c0;
}
.loginButton {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}
.loginButton:hover {
  background-color: #dbd6c2;
}
/* Biểu tượng 3 dấu gạch ngang */
.menuButton {
  display: none; /* Ẩn trên màn hình lớn */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Menu dạng hàng dọc */
.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navList.showMenu {
  display: flex;
  flex-direction: column; /* Hiển thị theo hàng dọc */
  position: absolute;
  top: 60px; /* Đặt menu bên dưới header */
  right: 20px;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffcc00; /* Màu khi hover */
}

/* Responsive: Ẩn menu và hiển thị biểu tượng trên màn hình nhỏ */
@media (max-width: 768px) {
  .navList {
    display: none; /* Ẩn menu mặc định */
  }

  .menuButton {
    display: block; /* Hiển thị biểu tượng 3 dấu gạch ngang */
  }
}